<% form_for [:admin, @discussion_topic] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
    :object => @discussion_topic,
    :include_object_name => true
  } %>
  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('admin.discussion_topics.discussion_topic.delete'),
                :delete_confirmation => t('shared.admin.delete.message', :title => @discussion_topic.name)
              } %>
<% end -%>
