<% content_for :content do %>
  <% @topics.each do |topic| -%>
    <article class="topic">
      <header>
        <h1><%= link_to topic.name, topic_path(topic) -%></h1>
      </header>
      <% if (discussions = topic.discussions).any? -%>
        <ul class="discussions">
          <% discussions.each do |discussion| %>
            <li>
              <%= link_to discussion.title, topic_discussion_url(topic, discussion) %>
            </li>
          <% end %>
        </ul>
      <% else -%>
        <p>There are no discussions posted in this topic yet.</p>
      <% end -%>
      <p>
        <%= link_to "Start a discussion in #{topic.name}", new_topic_discussion_path(topic) %>
      </p>
    </article>
  <% end -%>
<% end %>

<%= render :partial => "/shared/content_page" %>
